@import 'general-compatibility.css';

button {
    font-family: var(--fonts);
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

body {
    font-family: var(--fonts);
    background-image: url("../media/bg.png");
    background-size: contain;
    margin: 0;
    overflow-x: hidden;
}



.sidebar-container {
    position: fixed;
    bottom: 10rem;
    left: 0rem;
}
.sidebar {
    background-color: var(--red);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 200ms ease;
    width: 0; /* js | 4rem */
    height: 27rem;
    padding: 1rem 0;
}
.sidebar .line-container {
    display: none; /* js | block */
}
.sidebar .line {
    background-color: var(--red); /* var(--darkred) */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 4rem; /* 15rem */
    height: 3rem;
    color: var(--white);
    transition: width 200ms ease;
}
.sidebar .line:hover {
    background-color: var(--darkred); /* var(--red) */
}
.sidebar:hover .line {
    width: 15rem; /* 4rem */
}
.sidebar .line .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
}
.sidebar .line .icon-container i {
    font-size: 1.8rem;
}
.sidebar .line .label-container {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    width: 0rem; /* 11rem */
    transition: all 0ms linear; /* visibility 200ms steps(1, end) */
}
.sidebar:hover .line .label-container {
    visibility: visible; /* hidden */
    transition: all 200ms steps(1, end); /* visibility 0ms linear; */
    width: 11rem; /* 0rem */
}
.sidebar .line .label-container label {
    font-size: 1.2rem;
}



.top-section {
    padding: 10rem 0 0 0;
    overflow-x: hidden;
}
.sections {
    overflow-x: hidden;
}
.top-section .title-container {
    padding: 5rem 0rem;
    background: var(--red);
    width: 100rem;
}
.main-title {
    font-size: 5rem;
    color: var(--white);
    text-align: center;
    margin: 0;
}
.logo-container {
    width: 0;
    height: 0;
}
.logo {
    position: fixed;
    right: 2rem;
    bottom: 0;
    height: 10rem;
    width: 10rem;
}
.index-wrapper {
    background: var(--white);
    width: 100rem;
}
.index-wrapper .title-container {
    background: var(--red);
    padding: 1rem;
    width: 30rem;
    margin-left: 9rem;
}
.index-wrapper .main-title {
    font-size: 3rem;
    color: var(--white);
    text-align: left;
}
.text-container {
    background: var(--white);
    display: flex;
    padding: 4rem 4rem 3rem 4rem;
    width: 100rem;
}
.index {
    justify-content: space-between;
    padding-left: 14rem;
    padding-right: 14rem;
    width: 72rem;
}
.diagonal {
    width: 100rem;
    height: 3rem;
    display: block;
}
.text-container .item {
    width: 7rem;
    background: var(--lightgray);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor:pointer;
}
.text-container .item:hover {
    filter: brightness(.85);
}
.text-container .icon {
    color: var(--black);
    padding-top: .4rem;
    font-size: 3rem;
}
.skip {
    margin-top: 14rem;
}
.subsection {
    flex-direction: column;
}
.text-container .title-container {
    background: var(--red);
    padding: 1rem;
    width: 30rem;
    margin-left: 8rem;
    margin-bottom: .8rem;
}
.text-container .main-title {
    font-size: 3rem;
    color: var(--white);
    text-align: left;
}
.text-container .title {
    font-size: 2rem;
    color: var(--black);
    margin: 1rem 0 0 11rem;
    text-align: left;
    width: 40rem;
}
.text-container .text{
    font-size: 1.2rem;
    color: var(--black);
    margin: 1rem 0 0 15rem;
    text-align: left;
    width: 60rem;
}
.see-more-container{
    margin-top: 2.4rem;
    text-align: right;
    width: 70rem;
}
.see-more {
    background: var(--red);
    padding: .9rem;
    width: 14rem;
    font-size: 1.2rem;
    color: var(--white);
}
.see-more:hover {
    background-color: var(--darkred);
}
.red {
    background-color: var(--red);
}
.red .title-container {
    background: var(--red);
    border-left: solid .3rem var(--white);
}
.red .main-title {
    color: var(--white);
}
.red .title {
    color: var(--white);
}
.red .text {
    color: var(--white);
}
.red .see-more {
    border-bottom: solid .3rem var(--white);
    color: var(--white);
}
.single-contact {
    margin-left: 15rem;
    padding-top: .5rem;
}
.single-contact a {
    color: var(--darkgray);
}
.darken {
    position: fixed;
    display: none;
    height: 200rem;
    width: 100rem;
    background: var(--black);
    opacity: .3;
}
.credit {
    color:var(--white);
    margin: .5rem;
    padding: .5rem;
    background: var(--red);
    width: 20rem;
    text-align: center
}
@media only screen and (orientation: portrait) {
    .top-section .title-container {
        padding: 10rem 0rem;
    }
    .main-title {
        font-size: 12rem;
    }
    .logo {
        right: 4rem;
        height: 20rem;
        width: 20rem;
        transition: bottom 400ms ease;
    }
    .sections {
        margin-top: 4rem;
    }
    .index-wrapper {
        padding-top: 2rem;
    }
    .index-wrapper .title-container {
        padding: 2rem;
        width: 50rem;
    }
    .index {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .text-container .title-container {
        padding: 2rem;
        width: 50rem;
    }
    .text-container .icon {
        padding-top: 1rem;
        font-size: 7rem;
    }
    .text-container .item {
        width: 20rem;
        padding: 1.5rem;
        margin: 1.5rem;
    }
    .text-container .index-text {
        font-size: 3rem;
    }
    .index-wrapper .main-title {
        font-size: 6rem;
        margin-top: 1rem;
    }
    .text-container .main-title {
        font-size: 6rem;
        margin-top: 1rem;
    }
    .text-container .title {
        margin-top: 3rem;
        font-size: 4.5rem;
        width: 60rem;
    }
    .text-container .text{
        font-size: 3.5rem;
        width: 70rem;
    }
    .see-more-container{
        margin-top: 3rem;
        margin-bottom: 1rem;
        width: 75rem;
    }
    .see-more {
        width: 35rem;
        font-size: 3rem;
        padding: 2rem;
    }
    .text-container {
        padding: 4rem 2rem 3rem 1rem;
        width: 100rem;
    }
    .credit {
        margin: 3rem 0 17rem 2rem;
        padding: 1rem;
        width: 45rem;
        font-size: 2rem;
    }
    .sidebar-container {
        bottom: 0rem;
    }
    .sidebar {
        flex-direction: row;
        justify-content: center;
        width: 100rem;
        height: 0; /* js | 17rem */
        padding: 0;
    }
    .sidebar .line {
        width: 11rem;
        height: 17rem;
    }
    .sidebar:hover .line {
        width: 11rem;
    }
    .sidebar .line .icon-container {
        width: 11rem;
    }
    .sidebar .line .icon-container i {
        font-size: 6rem;
    }
    .sidebar:hover .line .label-container {
        visibility: hidden;
        width: 0rem;
    }
    .single-contact {
        font-size: 3.5rem;
        width: 70rem;
    }
    .credit {
        margin-bottom: 20rem;
    }
}